<div id="container">
    <div id="menu">
        <ul id="menu-item-container">
            <li class="title">
                <span class="title-text">The Food Storage</span>
            </li>
            <li class="menu-item"  routerLink="/foods" [routerLinkActive]='"active"'>
                <fa-icon class="link-icon" [icon]="allFoodIcon"></fa-icon>
                <span class="link-text">Ételek</span>
            </li>
            <li class="menu-item" routerLink="/categories" [routerLinkActive]='"active"'>
                <fa-icon class="link-icon" [icon]="categoriesIcon"></fa-icon>
                <span class="link-text">Kategóriák</span>
            </li>
            <li class="menu-item" routerLink="/ingredients" [routerLinkActive]='"active"'>
                <fa-icon class="link-icon" [icon]="ingredientsIcon"></fa-icon>
                <span class="link-text">Hozzávalok</span>
            </li>
            <li class="menu-item" [routerLinkActive]='"active"'>
                <fa-icon class="link-icon" [icon]="favoritesIcon"></fa-icon>
                <span class="link-text">Kedvencek</span>
            </li>
            <li class="menu-item">
                <fa-icon class="link-icon" [icon]="signInIcon"></fa-icon>
                <span class="link-text">Bejelentkezés</span>
            </li>
        </ul>
    </div>
    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>